@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b1e2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(238, 225, 225);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 1, 2) 585;
}

html.light ::-webkit-scrollbar-track {
  background: #ffffff;
}

html.light ::-webkit-scrollbar-thumb {
  background: rgb(0, 61, 141);
  border-radius: 50px;
}
